.categories {
  color: #4e1f1f;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  z-index: 90;

  .container {
    background: transparent;
    position: absolute;
    padding: 5px 10px 5px 5px;
  }

  input {
    display: none;

    &:checked ~ .container {
      padding: 5px 10px 5px 5px;
    }

    &:checked ~ .container ul {
      display: block;
      position: relative;
      top: 16px;
    }

    &:checked ~ .container label p {
      width: 265px;
      position: relative;
      left: -5px;
      background: $color2;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &::before {
        content: "Categorías";
        font-family: "Roboto Medium";
        color: $color1;
        font-size: 24px;
        margin: 0 0 5px 0;
        top: 24px;
        left: 0;
        width: 257px;
        background: $color2;
        padding: 0 0 16px 3px;
        position: relative;
        width: 200px;
      }

      &::after {
        content: "🯀";
        font-family: "Noto Sans Symbols 2";
        color: $color1;
        font-size: 24px;
        margin: 0 0 5px 0;
        top: 21px;
        left: 0;
        width: 257px;
        background: $color2;
        padding: 0 10px 16px 3px;
        position: relative;
        width: 100%;
        text-align: end;
      }
    }
  }

  p {
    &::before {
      content: "𝋣";
      font-family: "Noto Sans Symbols 2";
      color: $color2;
      font-size: 54px;
      position: absolute;
      top: -16px;
      left: 18px;
    }
  }

  ul {
    display: none;
    font-size: 18px;
    list-style: none;
    background: $color2;
    padding: 0 0 0 20px;
    left: -5px;

    li {
      cursor: pointer;
      padding: 3px 0 3px 5px;
      text-transform: uppercase;
      width: 240px;

      &:hover {
        background: $color3;
      }
    }

    .all__categories {
      font-weight: bolder;
    }

    .active li {
      font-weight: bolder;
      background: $color6;
      border-radius: 10px;
    }
  }

  .categories_spinner {
    width: 240px;
    height: 70px;
  }
}
