.spinner {
  width: 100%;

  .bigger {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border: 5px solid $color3;
      border-radius: 50%;
      border-top-color: transparent;
      position: absolute;
      animation: spinner_rottate 5s linear infinite;
    }

    &::after {
      content: "";
      width: 60%;
      height: 60%;
      border: 5px solid $color4;
      border-radius: 50%;
      border-top-color: transparent;
      position: absolute;
      top: 10px;
      left: 10px;
      animation: spinner_rottate_reverse 3s linear infinite;
    }
  }
}

@keyframes spinner_rottate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner_rottate_reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
