.cards {
  padding: 41px 8px 10px 8px;

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    list-style: none;
  }

  article {
    width: 100%;
    height: 100%;
    padding: 7px;
    box-shadow: inset 2px 2px 10px 1px #e5e3a5, 2px 2px 10px 1px #70705d;
  }

  header {
    height: calc(100% - 30px);
  }

  footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
  }

  p {
    font-size: 1.2em;
    color: $color_text2;
    font-family: "Roboto Medium";
    box-shadow: 4px 0 3px #00000066;
    padding: 1px 2px 1px 2px;

    &::after {
      color: $color_text3;
    }

    &:nth-child(1)::after {
      content: " 🗐";
      font-family: "Noto Sans Symbols 2";
    }

    &:nth-child(2)::after {
      content: " 🌍";
      font-family: "Noto Sans Symbols 2";
    }

    &:nth-child(3)::after {
      content: " 🗓";
      font-family: "Noto Sans Symbols 2";
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1240px) {
  ul {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media (max-width: 1024px) {
  ul {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 764px) {
  ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 512px) {
  .cards {
    overflow-x: scroll;

    scroll-snap-type: x mandatory;

    /* hide scrollbar */
    -ms-overflow-style: none; /* Internet Explorer, Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
    /* End: hide scrollbar */

    ul {
      width: 2800px;
      grid-template-columns: repeat(10, 1fr) !important;
    }
  }
}
