/* FONTS */
@font-face {
  font-family: "Roboto Light";
  src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Noto Sans Symbols 2";
  src: url(./fonts/NotoSansSymbols2-Regular.ttf);
}

/* COLORS */
$color_text1: #ffffff;
$color_text2: #3a1a1a;
$color_text3: #b11939;

$color_text_shadow: #555 2px 2px 3px;
$color_text_shadow_white: #e7e7e7 2px 2px 3px;

$color1: #4e1f1f;
$color2: #ffd068;
$color3: #fd0a3d;
$color4: #2ddd32;
$color5: #5a5353;

/* SETUP */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Light";
}

body {
  background: linear-gradient(
    0.25turn,
    #257e7c 0%,
    #00b6b1 10%,
    #00b6b1 90%,
    #257e7c 100%
  );
}

a {
  text-decoration: none;

  &:visited,
  &:link,
  &:active,
  &:hover {
    color: $color_text2;
  }
}

@import "./components/header/header";
@import "./components/cards/cards";
@import "./components/categories/_categories.scss";
@import "./components/spinner/spinner";
@import "./components/pagination/pagination";

@import "./pages/main/main";
@import "./pages/book/book";
